*{ text-align: center;}

 
 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: white;
            
        }

        nav {
            background-color: #b30000;
            padding: 15px 0;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            position: sticky;
            top: 0;
            z-index: 10;
        }
  nav ul {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav li {
            display: inline-block;
            margin: 0 25px;
        }
  nav a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        nav a:hover {
            color: #ffd9d9;
        }
.hero {
            background-image: url('https://roadtripeuroguide.com/wp-content/uploads/2022/11/Wide-Image-2022-11-20T151431.240-1024x683.jpg' );
            height: 500px;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(141, 0, 0);
}
.hero h1 {
            font-size: 60px;
    
        }
.section {
            padding: 50px;
            max-width: 1100px;
            margin: auto;
            text-align: center;
        }

        .section h2 {
            color: #b30000;
            font-size: 36px;
           margin-bottom: 20px; 
        }
 .section p {
            font-size: 19px;
            line-height: 1.6;
            color: #444;
            margin-bottom: 30px;
        }
image-grid {
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;
        }
 .image-grid img {
            width: 330px;
            height: 220px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
             filter: grayscale(0%);     
             transition: 0.3s ease; 
        }
        .image-grid img:hover {
        filter: grayscale(100%);       
}
   footer {
            background-color: #b30000;
            color: white;
            padding: 20px;
            text-align: center;
            margin-top: 50px;
        }
.history.section {
    display: flex;
    align-items: flex-start;  
    gap: 20px;                 
    max-width: 900px;
    margin: 20px auto;
}


.history.section img {
    width: 250px;           
    height: auto;
    border-radius: 5px;
}
h1{ font-size: 50px;
 color: rgb(180, 1, 1);
 text-shadow: black 2px;
}

.history2 {
    display: flex;
}
.img2{
    display: flex;
    justify-content: center;
}
.image-grid2 img {
            width: 330px;
            height: 420px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
             filter: grayscale(0%);     
             transition: 0.3s ease; 
        }
        .image-grid2 img:hover {
        filter: grayscale(100%);       
}